<html lang="en" class="home">
    <section class="home-page" style="background-color: #f8f8f8; height: 85vh;">

        <section class="hero py-16">
            <% if (messages.success) { %>
            <div role="alert" id="login-success-alert" class="alert-div"><%= messages.success %></div>
            <% } %>

            <div style="display: flex;justify-content: space-evenly; align-items: center;">
                <img src="/img/main/sowedane.png" alt="">
                <h1 style="font-size: 80px; font-weight:bolder" >DashBoard</h1>

            </div>

            

        </section>
    </section>
</html>

